.chartDiv{
  padding-top: 30px;
  margin-left: 60px;
  height: 400px;
  width: 1200px;
}

.mat-button-toggle-group {
  border-radius: 0px;
  border: none;
}

.mat-button-toggle{
  background-color: #293142;
}
.mat-button-toggle-checked{
  background-color: #7bb4eb;
}

.mat-button-toggle-disabled {
  color: #FFFFFF;
}

.example-container {
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
}
.seriesToggles {
  font-size: 20px;
  pointer-events: none;
}

.Wrapper {
  width: 150px;
  overflow: hidden;
}
.buttonID {
  width: 125px;
  text-align: left;
  float:left;
}
.checkboxID {
  overflow: hidden;
}
.checkboxID2 {
  height: 0;
  pointer-events: auto;
}
