<body>
<div class="container">
  <div class="cryptoNavBar">
    <div class="tokenIdentifier">
      <div id="tokenIcon"><img [src]="cryptoInfo.icon"/></div>
      <div>
        <div id="tokenName"> {{cryptoInfo.displayName}} </div>
        <div id="tokenId"> {{cryptoInfo.id}} </div>
      </div>
    </div>

    <mat-button-toggle-group  name="timeToggles" class="timeToggles" value="Week" >
      <mat-button-toggle (change)="onPeriodChange($event.value)" value="Day"> Day </mat-button-toggle>
      <mat-button-toggle (change)="onPeriodChange($event.value)" value="Week">Week</mat-button-toggle>
      <mat-button-toggle (change)="onPeriodChange($event.value)" value="Month">Month</mat-button-toggle>
      <mat-button-toggle (change)="onPeriodChange($event.value)" value="3Months">3 Months</mat-button-toggle>
      <mat-button-toggle (change)="onPeriodChange($event.value)" value="Year">Year</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <hr class="divider">

  <div id="chartDiv" class="chartDiv">
  </div>

  <div class="toggleSeriesDiv">
    <mat-button-toggle-group multiple name="seriesToggles" class="seriesToggle" value="Mentions" >
      <mat-button-toggle class="seriesBtn" (change)="onSeriesToggle($event.value)" value="Price"> Price </mat-button-toggle>
      <mat-button-toggle class="seriesBtn" (change)="onSeriesToggle($event.value)" value="Mentions"> Mentions </mat-button-toggle>
      <mat-button-toggle class="seriesBtn" (change)="onSeriesToggle($event.value)" value="Sentiment"> Sentiment </mat-button-toggle>
      <mat-button-toggle class="seriesBtn" (change)="onSeriesToggle($event.value)" value="Interactions"> Interactions </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="segmentContainer">
    <div class="tokenInfoDiv">
      <div class="column">
        <div class="row">
          <div class="infoContainer">
            <div class="smallText"> Positive Sentiment </div>
            <div class="bigText"> {{cryptoInfo.posSentiment.toPrecision(4)}} </div>
          </div>

        </div>
        <div class="row">
          <div class="infoContainer">
            <div class="smallText"> Mentions </div>
            <div class="bigText"> {{cryptoInfo.mentions}} </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="row">
          <div class="infoContainer">
            <div class="smallText"> Negative Sentiment </div>
            <div class="bigText"> {{cryptoInfo.negSentiment.toPrecision(4)}} </div>
          </div>
        </div>
        <div class="row">
          <div class="infoContainer">
            <div class="smallText"> 24h change </div>
            <div class="bigText"> {{cryptoInfo.relMentions.toPrecision(4)}} </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="row">
          <div class="infoContainer">
            <div class="smallText"> Relative Sentiment </div>
            <div class="bigText"> {{cryptoInfo.relSentiment.toPrecision(4)}} </div>
          </div>
        </div>
        <div class="row">
          <div class="infoContainer">
            <div class="smallText"> Interactions </div>
            <div class="bigText"> {{cryptoInfo.mostInteractions}} </div>
          </div>
        </div>
      </div>

    </div>

    <div class="wordcloudDiv" id="wordcloudDiv"></div>

  </div>
</div>
</body>
