.chartDiv{
  position: relative;
  height: 400px;
  width: 95%;
  left: 0;
  right: 0;
  margin: auto;
}

.container{
  background-color: #00000020;
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  height: 200%;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
}

.cryptoNavBar{
  height: 50px;
  background-color: #00000000;
  display: flex;
  justify-content: space-between;
}

.tokenIdentifier{
  display: flex;
  width: 150px;
  align-items: center;
  margin-left: 2.5%;
  margin-top: 1%;
}

#tokenIcon{
  padding-right: 10px;
  float: left;
}

#tokenName{
  color: White;
  font-size: 20px;
}

#tokenId {
  color: grey;
  font-size: 17px;
}

.toggleSeriesDiv{
  /*Position*/
  position: relative;
  left: 0;
  right: 0;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  /*Size*/
  height: 50px;
  width: 95%;
  background-color: #00000000;
  display: flex;
  justify-content: space-evenly;
}

/* Toggle buttons for the data to display on the graph */
.seriesToggle{
  /*Position*/
  position: relative;
  align-items: center;
  border: none;
}

.seriesBtn.mat-button-toggle-checked{
  border-bottom: 2px solid white;
}

/* Toggle buttons for time period to display on the graph */
.timeToggles {
  border-radius: 0;
  height: 100%;
  border: none;
  float: right;
  margin-right: 2.5%;
  display: flex;
}


.mat-button-toggle{
  background-color: #29314200;
}
.mat-button-toggle-checked{
  border-bottom: 2px solid white;
}

.mat-button-toggle-disabled {
  color: #FFFFFF;
}

.segmentContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 400px;
  background-color: #0000004d;
}

.tokenInfoDiv{
  width: 45%;
  height: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.infoContainer{
  width: 100%;
  height: 50%;
}

.column{
  float: left;
  width: 30%;
  height: 100%;
}

.row{
  width: 100%;
  height: 50%;
}

.smallText{
  font-size: 15px;
  color: grey;
}

.bigText {
  font-size: 24px;
  color: white;
}

.wordcloudDiv{
  margin: auto;
  background-color: #00B7FF;
  width: 45%;
  height: 95%;
}






/*
.seriesToggles {
  font-size: 20px;
  pointer-events: none;
}

.Wrapper {
  width: 150px;
  overflow: hidden;
}
.buttonID {
  width: 125px;
  text-align: left;
  float:left;
}
.checkboxID {
  overflow: hidden;
}
.checkboxID2 {
  height: 0;
  pointer-events: auto;
}
 */
