.mat-toolbar{
  background: #1C1D21FC;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  height: 60px;
  font-size: 30px;

}
.LinkText{
  color: white;
  text-decoration: none;
}

#searchBar {
  font-size: 20px;
  width: 250px;
}

#searchBarDiv {
  padding-left: 70%;
}

#searchIcon {
}
