.mat-toolbar{
  background: #1C1D21FC;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  height: 60px;
  font-size: 30px;

}
.LinkText{
  color: white;
  text-decoration: none;
}

#searchBar {
  font-size: 20px;
  width: 250px;
  float: left;
}

#searchBarDiv {
  display: flex;
  width: 300px;
  padding-left: 70%;

}

#searchIcon {
  float: left;
}

#searchResult {
  background-color: #00B7FFFF;
  font-size: 15px;
  position: relative;
}

.nameHeaderDiv {
  display: flex;
  width: 150px;
  align-items: center;
  
}

.tokenIcon {
  padding-right: 15px;
}

.idText{
  font-size: 17px;
}

