<mat-toolbar> <span> <a class="LinkText" routerLink="/">{{title}}</a></span>
  <div id="searchBarDiv">
      <mat-icon id="searchIcon">search</mat-icon>
      <mat-form-field id="searchBar">
        <input type="text" matInput placeholder="" name="search" [(ngModel)]="search">
      </mat-form-field>
  </div>
</mat-toolbar>

<div id="searchResultDiv">
  <ul id="searchResult" *ngFor="let crypto of placeholder">
    <li>
      <div id="nameHeaderDiv">
        <div id="tokenIcon"><img [src]="crypto[2]" alt="tokenIcon"/></div>
        <div>
          <div id="nameText">{{crypto[1]}}</div>
          <div id="idText">{{crypto[0]}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
