/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
  background: hsla(255, 62%, 31%, 1);
  background: linear-gradient(190deg, hsla(255, 62%, 31%, 1) 0%, hsla(190, 83%, 38%, 1) 100%) fixed;
}

.mat-table{
  background: #293142;
  margin-top: 5%;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

html {height: 100%}
