/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
  background: #485461;
  background: linear-gradient(315deg, #485461 0%, #28313b 74%) fixed;

}

.mat-table{
  background: #293142;
  margin-top: 5%;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

html {height: 100%}
body {overflow: overlay;}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #a19aa2 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar-thumb {
  background-color: #938f86;
  border-radius: 10px;
}
