<table mat-table [dataSource]=cryptoList id="crypto-table" class="mat-elevation-z0" matSort matSortActive="Momentum" matSortStart="desc" matSortDirection="desc" matSortDisableClear>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="Name" (click)="this.params.get('sortParam') === 'displayName' ?  sortData('-displayName') : sortData('displayName')"> Name </th>
    <td mat-cell *matCellDef="let element"> <a class="LinkToCrypto" routerLink="../crypto/{{element.id}}">
      <div class="nameHeaderDiv">
        <div class="tokenIcon"><img [src]="element.icon"  alt="tokenIcon"/></div>
        <div>
          <div class="idText">{{element.displayName}}</div>
          <div class="nameText">{{element.id}}</div>
        </div>
      </div>
    </a></td>
  </ng-container>

  <ng-container matColumnDef="momentum">
    <th mat-header-cell (click)="this.params.get('sortParam') === '-final_score' ? sortData('final_score'): sortData('-final_score')" *matHeaderCellDef>
      <div mat-sort-header="Momentum" matTooltip="The custom scoring system of Cryptopinion"
           matTooltipPosition="above" [matTooltipShowDelay]="500">
        Momentum
      </div>
    </th>
    <td [ngClass]="{'color-U10': element.final_score <= 10, 'color-U20': element.final_score <= 20 && element.final_score > 10,
     'color-U30': element.final_score <= 30 && element.final_score > 20, 'color-U40': element.final_score <= 40 && element.final_score > 30,
     'color-U50': element.final_score <= 50 && element.final_score > 40, 'color-U60': element.final_score <= 60 && element.final_score > 50,
     'color-U70': element.final_score <= 70 && element.final_score > 60, 'color-U80': element.final_score <= 80 && element.final_score > 70,
     'color-U90': element.final_score < 90 && element.final_score > 80, 'color-O90': element.final_score >= 90}"
        mat-cell  *matCellDef="let element"> {{element.final_score}}/100 </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-sort-header="price" mat-header-cell (click)="this.params.get('sortParam') === '-price' ? sortData('price'): sortData('-price')" *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element">{{'$' + element.price}}</td>
  </ng-container>

  <ng-container matColumnDef="mentions">
    <th mat-header-cell (click)="this.params.get('sortParam') === '-mentions' ? sortData('mentions'): sortData('-mentions')" *matHeaderCellDef>
      <div mat-sort-header="Mentions" matTooltip="The amount of social media posts in the last 24 hours"
           matTooltipPosition="above" [matTooltipShowDelay]="500">
        Mentions
      </div>
    </th>
    <td mat-cell  *matCellDef="let element"> {{element.mentions}} </td>
  </ng-container>

  <ng-container matColumnDef="mentionsPercent">
    <th mat-header-cell *matHeaderCellDef (click)="this.params.get('sortParam') === '-relMentions' ?  sortData('relMentions') : sortData('-relMentions')">
      <div mat-sort-header="Mentions%" matTooltip="The change in mentions in the last 24 hours"
           matTooltipPosition="above" [matTooltipShowDelay]="500">
        24h change
      </div>
    </th>
    <td mat-cell *matCellDef="let element" [style.color]="element.relMentions>0? '#8cdd7a':'#e54057'"> {{element.relMentions.toFixed(2) + '%'}} </td>
  </ng-container>

  <ng-container matColumnDef="interactions">
    <th mat-header-cell *matHeaderCellDef (click)="this.params.get('sortParam') === '-mostInteractions' ?  sortData('mostInteractions') : sortData('-mostInteractions')">
      <div mat-sort-header="Interactions" matTooltip="The total amount of interactions for all social media posts in the last 24 hours"
           matTooltipPosition="above" [matTooltipShowDelay]="500">
        Interactions
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.mostInteractions}} </td>
  </ng-container>

  <ng-container matColumnDef="pos-neg">
    <th mat-header-cell *matHeaderCellDef (click)="this.params.get('sortParam') === '-relSentiment' ?  sortData('relSentiment') : sortData('-relSentiment')">
      <div mat-sort-header="Pos/Neg" matTooltip="The ratio of positive and negative sentiment of social media posts in the last 24 hours"
           matTooltipPosition="above" [matTooltipShowDelay]="500">
        Pos/Neg
      </div>
    </th>
    <td mat-cell *matCellDef="let element" [style.color]="element.relSentiment>1? '#8cdd7a': (element.relSentiment===1 ? '#FFFFFF':'#e54057')"> {{element.relSentiment.toFixed(2)}} </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
